body {
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    "Open Sans",
    Arial,
    sans-serif;
  font-size: var(--font-size--normal);
  line-height: 1.5;
}