.section {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.section--no-padding-top {
  padding-top: 0;
}

.section--background {
  background-color: #f5f4fa;
  text-align: center;
}

.section__title {
  text-align: center;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;

  color: var(--title-text-color);

  @media screen and(min-width:1200px) {
    font-size: 36px;
    line-height: 1.17;
  }
}