<footer id="footer" class="footer">
  <div class="footer__widgets-container">
    <div class="widget__container"></div>
    <!-- .container /-->
  </div>
  <!-- #Footer-widgets-container /-->

  <div id="footer__info" class="footer__info">
    <div class="container">
      <div class="footer__body">
        <div class="footer__copyright-text footer__copyright-text-first">
          © recenziidetop.ro 2022 | All rights reserved.
        </div>
        <div class="footer__copyright-text footer__copyright-text-second">
          Website is a participant in the Amazon Services LLC Associates
          Program, an affiliate advertising program designed to provide a means
          for sites to earn advertising fees by advertising and linking to
          amazon.com.
        </div>
        <div class="footer__menu">
          <ul id="menu-footer" class="menu">
            <li id="menu__item-9941" class="menu__item">
              <a
                href="https://wordpress-399022-2619637.cloudwaysapps.com/despre-noi/?subid=RDT1656426637590.01892702551951&amp;epi=RDT1656426637590.01892702551951"
                >Despre noi</a
              >
            </li>
            <li id="menu__item-9939" class="menu__item">
              <a
                href="https://wordpress-399022-2619637.cloudwaysapps.com/cum-lucram/?subid=RDT1656426637590.01892702551951&amp;epi=RDT1656426637590.01892702551951"
                >Cum Lucrăm</a
              >
            </li>
            <li id="menu__item-9938" class="menu__item">
              <a
                href="https://wordpress-399022-2619637.cloudwaysapps.com/kit-media/?subid=RDT1656426637590.01892702551951&amp;epi=RDT1656426637590.01892702551951"
                >Kit Media</a
              >
            </li>
            <li id="menu__item-9940" class="menu__item">
              <a
                href="https://wordpress-399022-2619637.cloudwaysapps.com/contacteaza-ne/?subid=RDT1656426637590.01892702551951&amp;epi=RDT1656426637590.01892702551951"
                >Contactează-ne</a
              >
            </li>
          </ul>
        </div>
        <ul class="social-icons">
          <li class="social-icons__item">
            <a
              class="social-icons__link social-icon--facebook"
              rel="external noopener nofollow"
              target="_blank"
              href="https://www.facebook.com/Recenzii-de-Top-100283235385801"
            >
              <span class="social-icon icon-facebook"></span>
              <span class="screen-reader-text">Facebook</span>
            </a>
          </li>
          <li class="social-icons__item">
            <a
              class="social-icons__link social-icon--twitter"
              rel="external noopener nofollow"
              target="_blank"
              href="https://twitter.com/RecenziiT"
              ><span class="social-icon icon-twitter"></span
              ><span class="screen-reader-text">Twitter</span></a
            >
          </li>
          <li class="social-icons__item">
            <a
              class="social-icons__link social-icon--pinterest"
              rel="external noopener nofollow"
              target="_blank"
              href="https://ro.pinterest.com/recenziidetop/"
              ><span class="social-icon icon-pinterest"></span
              ><span class="screen-reader-text">Pinterest</span></a
            >
          </li>
          <li class="social-icons__item">
            <a
              class="social-icons__link social-icon--instagram"
              rel="external noopener nofollow"
              target="_blank"
              href="https://www.instagram.com/recenziidetop/"
              ><span class="social-icon icon-instagram"></span
              ><span class="screen-reader-text">Instagram</span></a
            >
          </li>
        </ul>
      </div>
      <!-- .tie-col /-->
      <!-- .tie-row /-->
    </div>
    <!-- .container /-->
  </div>
  <!-- #site-info /-->
</footer>
