<div class="column-box">
  <div class="column-box__half">
    <h4 class="half__title">Pro</h4>

    <div class="half__box plus">
      <ul class="half__list">
        <li class="half__item">Preț accesibil;</li>
        <li class="half__item">
          Lasă părul moale, strălucitor și drept și nu agață firul de păr;
        </li>
        <li class="half__item">Este ușor de depozitat;</li>
        <li class="half__item">
          Se încălzește repede, iar setările de temperatură sunt utile și
          intuitiv de folosit.
        </li>
      </ul>
    </div>
  </div>

  <div class="column-box__half last minus">
    <h4 class="half__title">Contra</h4>

    <div class="half__box">
      <ul class="half__list">
        <li class="half__item">Este destul de groasă;</li>
        <li class="half__item">Nu este potrivită pentru părul creț.</li>
      </ul>
    </div>
  </div>
</div>
