<div class="sidebar__container">
  <div class="sidebar__product-categories">
    <div class="sidebar__title">
      <div class="sidebar__subtitle">Meniu</div>
    </div>

    <ul class="product-categories__list">
      <h4 class="product-categories__title">Produse:</h4>
      <ul class="product-categories__sublist">
        <li class="sublist__item">
          <a class="sublist__link" href="#babyliss-st481e">BaByliss ST481E</a>
        </li>
        <li class="sublist__item">
          <a class="sublist__link" href="#babylisspro-2191">BaBylissPro 2191</a>
        </li>
        <li class="sublist__item">
          <a class="sublist__link" href="#remington-s8550-">Remington S8550 </a>
        </li>
        <li class="sublist__item">
          <a class="sublist__link" href="#remington-s5525-">Remington S5525 </a>
        </li>
        <li class="sublist__item">
          <a class="sublist__link" href="#philips-bhs376-00-"
            >Philips BHS376/00
          </a>
        </li>
      </ul>

      <h4 class="product-categories__title">Informații:</h4>
      <ul class="product-categories__sublist">
        <li class="sublist__item">
          <a class="sublist__link" href="#ghid-de-cump-rare"
            >Ghid de cumpărare</a
          >
        </li>
        <li class="sublist__item">
          <a class="sublist__link" href="#tipuri-de-pl-ci-de-indreptat-p-rul"
            >Tipuri de plăci de îndreptat părul</a
          >
        </li>
        <li class="sublist__item">
          <a
            class="sublist__link"
            href="#cele-mai-importante-caracteristici-la-care-s-fii-atent-atunci-cand-alegi-o-plac-de-p-r"
            >Cele mai importante caracteristici la care să fii atent atunci când
            alegi o placă de păr</a
          >
        </li>
        <li class="sublist__item">
          <a class="sublist__link" href="#alte-caracteristici"
            >Alte caracteristici</a
          >
        </li>
        <li class="sublist__item">
          <a
            class="sublist__link"
            href="#cum-s-i-i-indrep-i-p-rul-f-r-a-l-deteriora"
            >Cum să îți îndrepți părul fără a-l deteriora?</a
          >
        </li>
        <li class="sublist__item">
          <a class="sublist__link" href="#intreb-ri-i-r-spunsuri"
            >Întrebări și răspunsuri</a
          >
        </li>
        <li class="sublist__item">
          <a class="sublist__link" href="#concluzie">Concluzie</a>
        </li>
      </ul>
    </ul>
  </div>
</div>
