<div class="column-box specification">
  <div class="column-box__half">
    <h4 class="half__title">Specificații</h4>
    <ul class="half__list">
      <li class="half__item"><strong>Temperatură: </strong>180- 230 °C</li>
      <li class="half__item"><strong>Timp maxim de încălzire: </strong>30 s</li>
      <li class="half__item"><strong>Material înveliș: </strong>Ceramică</li>
      <li class="half__item"><strong>Lungime cablu: </strong>1.8 m</li>
      <li class="half__item"><strong>Trepte temperatură: </strong>6</li>
      <li class="half__item">
        <strong>Auto shut-off: </strong>După 60 de minute
      </li>
    </ul>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>

  <div class="column-box__half last">
    <h4 class="half__title">Verifică prețul</h4>

    <div class="product-table">
      <div class="product-table__data">
        <div class="product-table__button">
          <a
            href="https://l.profitshare.ro/lps/9/Scu/?redirect=https%3A%2F%2Fwww.emag.ro%2Fplaca-si-ondulator-babyliss-2-in-1-pure-metal-230-c-invelis-ceramic-5-trepte-negru-bronz-st481e%2Fpd%2FDMQ587BBM%2F&amp;hash=RDT1656584675450.74133938693402"
            target="_blank"
            rel="nofollow"
            title="BaByliss ST481E"
            onclick="ga('send', 'event', 'product-button', 'click', 'BaByliss ST481E');"
          >
            <span>VERIFICAȚI PREȚUL</span>
          </a>
          <span>pe emag.ro</span>
        </div>
      </div>
    </div>
  </div>
</div>
